.container{
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 500px;
}
.containerChildToggle {
  display: flex;
  color: red;
  border:1px solid blue;
  flex: 1;
}
.containerGrandChildToggle{
  background: lightpink;
  flex: 1;
  border: 1px solid blue;
}